@media (min-width: 0px) and (max-width:576px){
   /* common css start */
   .container{
      padding: 0px 20px;
   }
   .section-header{
      margin-bottom: 50px;
   }
   .section-header h2{
      font-size: 36px;
   }
   .section-header h2 span{
      left: 42%;
      width: 14%;
   }
   /* common css end */
   /* navbar responsive start */
   .navbar{
      padding-top: 30px;
   }
   .navbar .navbar-nav{
      width: 200px;
   }
   .dropdown-menu{
      text-align: right;
   }
   /* navbar responsive end */
   /* header content start */
   .header-content{
      margin-top: 90px;
      padding-bottom: 100px;
   }
   .header-content h3{
      font-size: 18px;
   }
   .header-content h1{
      font-size: 45px;
   }
   .header-content p{
      font-size: 14px;
   }
   .header-content a{
     font-size: 14px;
     margin-right: 2px;
   }
   /* header content end */
   /* about section start */
   .about-section .about-aside h4{
      font-weight: 600;
   }
   .aside-inner .aside-inner-header h5{
      font-weight: 600;
   }
   /* about section end */
   /* services section start */
   .services-section{
      margin-top: 50px;
   }
   /* services section end */
   /* work section start */
   .work-section .work-content h3{
      font-size: 22px;
   }
   /* work section end */
   /* popup section start */
   .popup-overlay .popup{
      max-width: 75%;
      margin: 10% auto;
   }
   /* popup section end */
}
@media (min-width: 576px) and (max-width: 768px){
   /* common css start */
   .container{
      padding: 0px 0px;
   }
   .section-header{
      margin-bottom: 50px;
   }
   .section-header h2{
      font-size: 45px;
   }
   .section-header h2 span{
      left: 42%;
      width: 14%;
   }
   /* common css end */
   /* navbar responsive start */
   .navbar{
      padding-top: 30px;
   }
   .navbar .navbar-nav{
      width: 200px;
   }
   .dropdown-menu{
      text-align: right;
   }
   /* navbar responsive end */
    /* header content start */
    .header-content{
      margin-top: 90px;
      padding-bottom: 100px;
   }
   .header-content h3{
      font-size: 20px;
      margin-bottom: 5px;
   }
   .header-content h1{
      font-size: 50px;
   }
   .header-content p{
      font-size: 14px;
      margin-top: 25px;
   }
   .header-content a{
     font-size: 16px;
     margin-right: 2px;
     margin-top: 5px;
   }
   /* header content end */
   /* about section start */
   .about-section .about-aside h4{
      font-weight: 600;
   }
   .aside-inner .aside-inner-header h5{
      font-weight: 600;
   }
   /* about section end */
   /* services section start */
   .services-section{
      margin-top: 50px;
   }
   /* work section start */
   .work-section .work-content h3{
      font-size: 26px;
   }
   /* work section end */
   /* popup section start */
   .popup-overlay .popup{
      max-width: 400px;
      margin: 7% auto;
   }
   /* popup section end */
}
@media (min-width: 768px) and (max-width: 992px){
   /* common css start */
   .container{
      padding: 0px 0px;
   }
   .section-header{
      margin-bottom: 70px;
   }
   .section-header h2{
      font-size: 45px;
   }
   .section-header h2 span{
      left: 44%;
      width: 12%;
   }
   /* common css end */
   /* navbar responsive start */
   .navbar{
      padding-top: 30px;
   }
   .navbar .navbar-nav{
      width: 200px;
   }
   .dropdown-menu{
      text-align: right;
   }
   /* navbar responsive end */
    /* header content start */
    .header-content{
      margin-top: 150px;
      padding-bottom: 50px;
   }
   .header-content h3{
      font-size: 20px;
      margin-bottom: 5px;
   }
   .header-content h1{
      font-size: 58px;
   }
   .header-content p{
      font-size: 16px;
      margin-top: 25px;
      max-width: 500px;
   }
   .header-content a{
     font-size: 16px;
     margin-right: 2px;
     margin-top: 5px;
   }
   /* header content end */
   /* about section start */
   .about-section .about-aside h4{
      font-weight: 600;
   }
   .aside-inner .aside-inner-header h5{
      font-weight: 600;
   }
   .about-img img{
      max-width: 450px;
   }
   /* about section end */
   /* services section start */
   .services-section{
      margin-top: 50px;
   }
   /* work section start */
   .work-section .work-content h3{
      font-size: 28px;
   }
   /* work section end */
   .popup-overlay .popup{
      max-width: 430px;
   }
   /* popup section end */
}
@media (min-width: 992px) and (max-width: 1200px){
    /* common css start */
    .container{
      padding: 0px 0px;
   }
   /* common css end */
   .popup-overlay .popup{
      max-width: 450px;
   }
}
@media (min-width: 1200px) and (max-width: 1400px){
   /* common css start */
   .container{
      padding: 0px 90px;
   }
   /* common css end */
}